# general pattern for ignoring binary and Eclipse specific files and directories;
# no explicitly specified path means that these pattern matches, wherever the items are located.
target/
.settings/
.classpath
.project
bin
.pmd

# LaTeX specific files which are created during typesetting.
*.log
*.out
*.aux
*.bbl
*.blg
*.synctex.gz
*.toc
*.fdb_latexmk

# /data/
/data/datasets
/data/knowledgeBase
/data/logs
/data/models
/data/queue
/data/status
/data/temp
/data/test

# /data/evaluation/
/data/evaluation/feedPaper

# /src/main/resources/
/src/main/resources/palladian.properties
/src/main/resources/log4j.properties

/test_dictionary.h2.db
/test_dictionary.trace.db

**/data/temp
**/data/test
/palladian-core/data
