# general pattern for ignoring binary and Eclipse specific files and directories;
# no explicitly specified path means that these pattern matches, wherever the items are located.
target/
.settings/
.classpath
.project
bin
.pmd

# these file are individual and should not be in the repository;
# there are templates in /config/*.default
palladian.properties
log4j.properties

# LaTeX specific files which are created during typesetting.
*.log
*.out
*.aux
*.bbl
*.blg
*.synctex.gz
*.toc
*.fdb_latexmk

**/data

/data/datasets
/data