body {
  text-align: justify;
}

div.container {
  width: 800px;
  padding:20px;
  border: 1px solid #eee;
  margin-left: auto;
  margin-right: auto;
}

.textbf{
  font-weight: bold;
}

.dollar{
  font-family: monospace; 
}

.footnote{
  border-bottom: 1px dotted black;
}

.footnoteText {
  display: none;
  padding: 5px;
  background-color: #efefef;
  max-width: 400px;
  border: 1px solid #aaa;
  position: absolute;
  text-align: left;
  z-index: 9999;
}

div.equation {
  text-align: center;
}

img.latex {
  position: relative;
  top: 5px;
}

table, .equation, .imgContainer, .pdfContainer {
  margin: 20px;
  margin-left: auto;
  margin-right: auto;  
}

img.figure {
  border-radius: 10px;
  border: 1px solid #eee;
  width: 80%;
}

.pdfContainer, .imgContainer {
   text-align: center;
}

.pdfObject {
  width: 80%;
}

.caption {
  text-align:center;
  font-weight: bold;
}

/* tables */
/*table th {
  font-weight: bold;
}

table td, table th {
  border: 1px solid #eee;
  padding: 5px;
} */

table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(res/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(res/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(res/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
